.menu {
	width: 50rem;
	background: $secondary-color;
	border-radius: 1rem;
	padding: 1rem 2rem;
	display: flex;
	flex-direction: row;

	div {
		align-self: center;
		margin-right: 1rem;
	}

	p {
		color: $white-color;

		span {
			opacity: .4;
		}
	}

	h1 {
		margin: 1rem 0;
	}
}