/* You can add global styles to this file, and also import other style files */
@use './app/scss/variables' as v;
@use './app/scss/heritages';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Roboto';
}

body {
	background-color: v.$primary-color;
	color: rgba(v.$white-color,  .6);
}

h1{
	font-size: 2rem;
	color: v.$white-color;
}

h2{
	color: v.$white-color;;
}

.btn {
	@extend %btn
}
