@use 'variables' as v;

%btn {
	border-radius: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(v.$white-color, .8);
	color: v.$primary-color;
	cursor: pointer;
	margin: 1rem 0;
	height: 2.5em;
}