@use 'variables' as v;

%btn {
	border-radius: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(v.$blue-color, .8);
	color: v.$white-color;
	border: none;
	cursor: pointer;
	margin: 1rem 0;
	height: 2.5em;
	padding: 0 2rem;
	transition: .25s ease-in-out;

	&:hover {
		background: rgba(v.$blue-color, 1);
	}
}